* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  background-color: rgba(255, 255, 255, 0.716);
  padding: 5px 20px;
  font-size: 25px;
  border-radius: 50px;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);

  display: flex;
}

main {
  margin: auto;
  width: 1000px;
  height: 700px;

  position: relative;
  display: flex;

  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.35);
}
section {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 100px;
}
.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.name {
  margin-bottom: 40px;
}
.score {
  font-size: 50px;
  font-weight: 900;
  color: #c7365f;
  margin-bottom: auto;
}
.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 10px;
  text-align: center;
  transition: all 0.75s;
  width: 200px;
}
.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 20px;
  color: #ddd;
}

.current-score {
  font-size: 30px;
}

.btn-box {
  position: absolute;
  width: 300px;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice {
  position: absolute;

  width: 100px;
  height: 100px;
  margin-top: 200px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.btn.btn--new {
  margin-top: 40px;
  margin-bottom: auto;
}
.btn.btn--hold {
  margin-bottom: 100px;
  margin-top: 10px;
}
